<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="w3-content" style="max-width:1300px">  

<!-- First Grid: Logo & About -->
<div class="w3-row">
  <div class="w3-half w3-black w3-container w3-center" style="height:700px">
    <div class="w3-padding-64">
      <h1>Namaskaram!</h1>
    </div>
    <div class="w3-padding-64">
      <a href="#" class="w3-button w3-black w3-block w3-hover-blue-grey w3-padding-16">Attendance</a>
      <a href="#work" class="w3-button w3-black w3-block w3-hover-teal w3-padding-16">Performance</a>
      <a href="/select" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">Feedback</a>
      <a href="#contact" class="w3-button w3-black w3-block w3-hover-brown w3-padding-16">Contact</a>
    </div>
  </div>
  <div class="w3-half w3-blue-grey w3-container" style="height:700px">
    <div class="w3-padding-64 w3-center">
      <h1>Isha Foundation</h1>
      <img src="assets/images/il.gif" class="w3-margin w3-rectangle" alt="Person" style="width:130px">
      <div class="w3-left-align w3-padding-large">
        <p>Isha Home School is located amidst the tranquil surroundings of the Velliangiri Mountains near Coimbatore, 
            Tamil Nadu. Founded in 2005 by Sadhguru,
             the school strives to incorporate his educational approach into its day-to-day teaching process.</p>
        <p>The school has contemporary and up-to-date facilities that provide a safe and secure living environment.
             Junior and Middle School comprise of nine “homes” and the Senior School learning center is a separate building of 
             over 50,000 sq. feet called the Gnana Shala.The school’s greatest asset is its dedicated and talented faculty,
              who constantly challenge themselves and the students to participate completely in the symbiotic learning process.</p>
              <p>All aspects of the school are designed to kindle the innate urge within every child to learn and know. The prime focus is not only on developing a child’s intellectual capacities, 
                  but also to provide opportunities to explore other dimensions of life.</p>
      </div>
    </div>
  </div>
</div>

<!-- Second Grid: Work & Resume -->
<div class="w3-row">
  <div class="w3-half w3-light-grey w3-center" style="min-height:800px" id="work">
    <div class="w3-padding-64" >
      <h2>Vithika-Ekam</h2>
      <p>Glimpse of our Gurukula</p>
    </div>
    <div class="w3-row">
      <div class="w3-half">
        <img src="assets/images/isha1.jpg" style="width:100%">
      </div>
      <div class="w3-half">
        <img src="assets/images/isha2.jpg" style="width:100%">
      </div>
    </div>
    <div class="w3-row w3-hide-small">
      <div class="w3-half">
        <img src="assets/images/isha3.jpg" style="width:100%">
      </div>
      <div class="w3-half">
        <img src="assets/images/isha4.jpg" style="width:100%">
      </div>
    </div>

    <div class="w3-row w3-hide-small">
      <div class="w3-half">
        <img src="assets/images/isha5.jpg" style="width:100%">
      </div>
      <div class="w3-half">
        <img src="assets/images/isha6.jpg" style="width:100%">
      </div>
    </div><br>
    
  </div>
  
    <div class="w3-half w3-light-grey w3-center" style="min-height:800px" id="work">
      <div class="w3-padding-64">
        <h2>Vithika-Dwi</h2>
        <p>Pariyojana</p>
      </div>
      <div class="w3-row">
        <div class="w3-half">
          <img src="assets/images/cc.jpg" style="width:100%">
        </div>
        <div class="w3-half">
          <img src="assets/images/rr.jpg" style="width:100%">
        </div>
      </div>
      <div class="w3-row w3-hide-small">
        <div class="w3-half">
          <img src="assets/images/ww.jpg" style="width:100%">
        </div>
        <div class="w3-half">
          <img src="assets/images/kk.jpg" style="width:100%">
        </div>
      </div>
  
      <div class="w3-row w3-hide-small">
        <div class="w3-half">
          <img src="assets/images/dyana.jpg" style="width:100%">
        </div>
        <div class="w3-half">
          <img src="assets/images/ii.jpg" style="width:100%">
        </div>
      </div><br>
      
    </div>   
</div>
</body>
</html>
