

<!--<style>
  body{background-image: url(assets/images/bc3.jpg);height:1000px;width:2000px}
</style>
<body>


 <!-- <img style="align-content: center;" class="img-responsive" src="assets/images/OIP.jpg">
<form method="post" action="//submit.form">
  <div style="width: 400px;">
  </div>
  <div style="padding-bottom: 18px;font-size : 24px;">Student Feedback</div>
  <div style="padding-bottom: 18px;font-size : 18px;">Please help us improve our courses by filling out this form.</div>
  <div style="display: flex; padding-bottom: 18px;width : 500px;">
 
  </div><div style="padding-bottom: 18px;">Why did you chose this course?<br/>
  <select id="data_7" name="data_7" style="width : 500px;" class="form-control"><option>Degree requirement</option>
  <option>Personal interest</option>
  </select>
  </div>
  <div style="padding-bottom: 18px;">Level of knowledge on start of course<br/>
  <select id="data_9" name="data_9" style="width : 500px;" class="form-control"><option>Very good</option>
  <option>Good</option>
  <option>Fair</option>
  <option>Poor</option>
  <option>Very poor</option>
  </select>
  </div>
  <div style="padding-bottom: 18px;">Level of effort invested in course<br/>
  <select id="data_10" name="data_10" style="width : 500px;" class="form-control"><option>Very good</option>
  <option>Good</option>
  <option>Fair</option>
  <option>Poor</option>
  <option>Very poor</option>
  </select>
  </div>
  <div style="padding-bottom: 18px;">Level of knowledge at the end of the course<br/>
  <select id="data_11" name="data_11" style="width : 500px;" class="form-control"><option>Very good</option>
  <option>Good</option>
  <option>Fair</option>
  <option>Poor</option>
  <option>Very poor</option>
  </select>
  </div>
  <div style="padding-bottom: 18px;">Level of communication<br/>
  <select id="data_12" name="data_12" style="width : 500px;" class="form-control"><option>Very good</option>
  <option>Good</option>
  <option>Fair</option>
  <option>Poor</option>
  <option>Very poor</option>
  </select>
  </div>
  <div style="padding-bottom: 18px;">Would you recommend this course to other students?<br/>
  <select id="data_8" name="data_8" style="width : 500px;" class="form-control"><option>Yes</option>
  <option>No</option>
  <option>Not sure</option>
  </select>
  </div>
  <div style="padding-bottom: 18px;"><input name="skip_Submit" value="Submit" type="submit"/></div>
  <div>
  <div style="float:right"><a href="https://www.100forms.com" id="lnk100" title="form to email">form to email</a></div>
  <script src="https://www.100forms.com/js/FORMKEY:7S3WS9BMG42N/SEND:my@email.com" type="text/javascript"></script>
  </div>
  </form> 
</body>-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style>
    body{background-image: url(assets/images/bc1.jpg);height:1000px;}
  </style>
</head>
<body>

<div class="container">
  <h2 >Prakara-2</h2>
  <b>Fill the feedback form below:</b>
  <form action="/end">
    <div class="form-group">
      <label for="sel1">Why did you chose this course?</label>
      <select class="form-control" id="sel1" name="sellist1">
        <option>Degree Requirement</option>
        <option>Personal Interest</option>
        
      </select>
      <br>
      <label for="sel1">Level of knowledge on start of course</label>
      <select class="form-control" id="sel1" name="sellist1">
        <option>Very Good</option>
        <option>Good</option>
        <option>Fair</option>
        <option>Poor</option>
        <option>Very Poor</option>
        
      </select>
      <br>
      <label for="sel1">Level of effort invested in course</label>
      <select class="form-control" id="sel1" name="sellist1">
        <option>Very Good</option>
        <option>Good</option>
        <option>Fair</option>
        <option>Poor</option>
        <option>Very Poor</option>
        
      </select>
      <br>
      <label for="sel1">Level of knowledge at the end of the course</label>
      <select class="form-control" id="sel1" name="sellist1">
        <option>Very Good</option>
        <option>Good</option>
        <option>Fair</option>
        <option>Poor</option>
        <option>Very Poor</option>
        
      </select>
      <br>
      <label for="sel1">Level of communication</label>
      <select class="form-control" id="sel1" name="sellist1">
        <option>Very Good</option>
        <option>Good</option>
        <option>Fair</option>
        <option>Poor</option>
        <option>Very Poor</option>
        
        
      </select>
      <br>

      <label for="sel1">Would you recommend this course to other students?</label>
      <select class="form-control" id="sel1" name="sellist1">
        <option>Yes</option>
        <option>No</option>
        
        
      </select>
      
      
    </div>
    <button href="/end" class="btn btn-primary">Submit</button>
  </form>
</div>



